[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
ollama = "*"
chromadb = "*"
sentence-transformers = "*"
guardrails-ai = "*"
pydantic = "*"
requests = "*"
pymupdf = "*"
pdfplumber = "*"
pillow = "*"
python-docx = "*"
langchain = "*"
google-genai = "*"

[dev-packages]

[requires]
python_version = "3.12"
